.body{
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    height: 100%;
    overflow: hidden;
    min-height: 100%;
    padding: 50px;
}
.block {

}
.blockRow {
    border: 20px solid rgb(130, 159, 206);
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    
}
.blockColumn {
    border: 20px solid #333;
    flex-basis: 500px;
    flex-grow: 1;
    flex-shrink: 1;

}
.blockItem {
    background-color: rgb(130, 213, 213);
    padding: 50px;
    font-size: 50px;
    color: rgb(92, 29, 29);
    font-weight: 700;
}
.blockList {
    display: flex;
    align-items: center;
    li{margin:0 25px 0 0;
    & :last-child{margin: 0 ;}
      }
}
.blockInfo {
    position: relative;
    padding: 0 0 0 25px;
}
li{
    padding-left: 70px;
    background: url('../images/zz.png ')  left no-repeat;
    list-style: none;
    
}